* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #202733;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advice-container {
  width: 540px;
  background: #313a48;
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
  border-radius: 15px;
  padding: 48px;
  padding-bottom: 72px;
  text-align: center;
  position: relative;
}

#advice-id {
  color: #53ffaa;
  font-weight: 800;
  font-size: 13px;
}

#advice-content {
  color: #cee3e9;
  font-weight: 800;
  font-size: 28px;
}

#generate-button {
  cursor: pointer;
  position: absolute;
  border: none;
  background: #53ffaa;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: 50%;
  bottom: -32px;
  transform: translateX(-50%);
  transition: box-shadow 0.2s linear;
}

#generate-button:hover,
#generate-button:focus {
  box-shadow: 0px 0px 40px #53ffaa;
  outline: none;
}
